
.footer {
    background: linear-gradient(-60deg, #58f581 , #f34613, yellow);
    height: 100%;
    text-align: center;
}

.footer span {
    color: #2d09e8;
    line-height: 50px;
    font-weight: bold;
}
